<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <center>
        <form action="/post/uda/<%= docs._id %>" method="post">
            <input type="text" name="name" id="" value="<%= docs.name %>">

            <input type="text" name="email" id="" value="<%= docs.email %>">
                <button type="submit"></button>
        </form>

    </center>
</body>
</html>